/*
Theme Name: STLPAK - Global Packaging Solutions
Author: STLPAK
Author URI: https://stlpak.com/
Description: Custom child theme for STLPAK Global Packaging Solutions website. Based on Astra theme with custom styling and functionality.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child-stlpak
Template: astra
*/

/* Base Reset & Global Styles */
.ast-search-menu-icon.slide-search input.search-field {
    width: inherit ;
}

* {box-sizing: border-box;}
html {scroll-behavior: smooth;}
a:empty {visibility: none;}
.gallery:after{
	content: "";
    display: block;
    clear: both;
}
.gallery-item{float: left;}
.gallery-caption {
    background: transparent ;
    border: none ;
}

/* Utility Classes */
.greySection {background: #f6f6f6;}
.darkGreySection {background: #e9e9e9;}
.blueSection {background: #16529b;}
.ltBlueSection {background: #f4f6f9;}
.clrWhite {color: #fff ;}
.clrBlue {color: #16529b ;}


/* Buttons */
a.commonBtn, .contactForm input[type=submit], .quickQuote input[type="submit"], .pd2ContactForm input[type="submit"], .MTcontactForm input[type="submit"], .MTcatForm input[type="submit"], .MTcontactPageForm input[type="submit"], .contactFormBtn input[type="submit"], .fluentform button[type="submit"]{
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 8px 20px;
    border-radius: 4px;
    text-decoration: none ;
    background: #16529b;
	border: 1px solid #16529b;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
    transition: all .3s;
}
a.commonBtn:hover, .contactForm input[type=submit]:hover, .quickQuote input[type="submit"]:hover, .pd2ContactForm input[type="submit"]:hover, .MTcontactForm input[type="submit"]:hover, .MTcatForm input[type="submit"]:hover, .MTcontactPageForm input[type="submit"]:hover, .contactFormBtn input[type="submit"]:hover{
	background: #333;
	border: 1px solid #333;
	color: #fff ;
}
.fluentform button[type="submit"]{background: #16529b ;}
.fluentform button[type="submit"]:hover{
	background: #333 ;
	border: 1px solid #333;
}
.contactFormBtn input[type="submit"]{
	min-width: 130px;
	padding: 15px 30px;
}
a.sliderBtn{
	padding: 15px 35px;
	color: #fff ;
}
a.minwidth185 {min-width: 185px;}
a.minwidth245 {min-width: 245px;}
a.minwidth265 {min-width: 265px;}
.contactForm input[type=submit], .MTcontactForm input[type="submit"], .MTcatForm input[type="submit"], .MTcontactPageForm input[type="submit"]{min-width: 145px;}
a.sliderBtn{color: #fff ;}
a.whiteBtn {
	color: #16529b;
	background: #fff;
}
a.whiteBtn:hover {color: #fff;}
.doubleBtn a.commonBtn{margin: 0 10px;}

/* Sticky Contact */
.stickyContacts{
	position: fixed;
	content: '';
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	background: rgba(0,0,0,0.3) ;
	z-index: 99;
}
.stickyContacts ul{
	margin: 0 ;
	padding: 20px 0 ;
	list-style-type: none;
}
.stickyContacts ul li a{
	display: block;
	width: 50px;
    height: 50px;
    position: relative;
	z-index: 2;
}
.stickyContacts ul li a span {
    position: absolute;
    top: 0;
    right: -400px;
    width: 300px;
    height: 100%;
    background: #16529b;
    border-radius: 25px;
    color: #fff;
    padding: 10px 55px 10px 15px;
	transition: all .3s;
	z-index: -1;
	visibility: hidden;
}
.stickyContacts ul li a:hover span{
	right: 0;
	visibility: visible;
}
.stickyContacts ul li a:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/wp-content/uploads/2021/08/sidebarSprit.png) 0 0 no-repeat;
}
.stickyContacts ul li.email a:before{background-position:12px 17px;}
.stickyContacts ul li.mobile a:before{background-position:12px -80px;}
.stickyContacts ul li.wechat a:before{background-position:11px -133px;}
.stickyContacts ul li.whatsapp a:before{background-position:14px -178px;}

/* Popup Form */
#contactPopUpForm .quickQuote {
    padding: 15px;
    width: 340px;
}
#contactPopUpForm input[type=text], #contactPopUpForm input[type=email], #contactPopUpForm textarea {padding: 10px;}
table tr th{background: #f1f1f1;}
table tr:nth-child(odd) td{background: #f1f1f1;}

/* Exist Popup */
.popupOverlay{
	position: relative;
	display: none;
}
.popupOverlay.activeExitPopup{display: block;}
.popupOverlay{
	position: fixed;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	z-index: 999;
}
#existPopup {
	width: 340px;
	background: #fff;
	position: fixed;
	top: -1000px;
	left: calc(50% - 170px);
	z-index: 1000;
	border: 1px solid #dadada;
	transition: all .2s;
}
#existPopup.active{top: 200px;}
.existPopupForm input[type="text"], .existPopupForm input[type="email"], .existPopupForm textarea{
	padding: 12px;
	height: auto;
	position: relative;
}
.existPopupForm textarea{height: 125px;}