/*
Theme Name: STLPAK - Global Packaging Solutions
Author: STLPAK
Author URI: https://stlpak.com/
Description: Custom child theme for STLPAK Global Packaging Solutions website. Based on Astra theme with custom styling and functionality.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child-stlpak
Template: astra
*/

/* Base Reset & Global Styles */
.ast-search-menu-icon.slide-search input.search-field {
    width: inherit ;
}

* {box-sizing: border-box;}
html {scroll-behavior: smooth;}
a:empty {visibility: none;}
.gallery:after{
	content: "";
    display: block;
    clear: both;
}
.gallery-item{float: left;}
.gallery-caption {
    background: transparent ;
    border: none ;
}

/* Utility Classes */
.greySection {background: #f6f6f6;}
.darkGreySection {background: #e9e9e9;}
.blueSection {background: #16529b;}
.ltBlueSection {background: #f4f6f9;}
.clrWhite {color: #fff ;}
.clrBlue {color: #16529b ;}


/* Footer */
.footerText {
	font-size: 16px;
	line-height: 24px;
}
ul.footerSocial li {display: inline-block;}
ul.footerSocial li a{display: block;}
ul.footerSocial li a:hover{opacity: 0.8;}
.footer-adv-overlay .widget-title {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 40px ;
	padding-left: 20px;
	position: relative;
}
.footer-adv-overlay .widget-title:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    margin-top: -2px;
    width: 16px;
    height: 3px;
    background: #16529b;
}
.footer-adv-overlay ul.menu li{margin-bottom: 15px;}
.footer-adv-overlay ul.menu li a {
	display: block;
	font-size: 16px;
	line-height: 24px;
	padding-left: 15px;
	position: relative;
}
.footer-adv-overlay ul.menu li a:before{
	position: absolute;
	content: '';
	top: 12px;
	left: 0;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background: #fff;
}
ul.footerDetails {position: relative;}
ul.footerDetails li {
    font-size: 16px;
    line-height: 24px;
    padding: 2px 0 2px 40px;
    margin-bottom: 10px;
    position: relative;
}
ul.footerDetails li.location {padding: 0 0 0 40px;}
ul.footerDetails li:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 28px;
	height: 28px;
	background: url(/wp-content/uploads/2022/01/footerSprite.png) 0 0 no-repeat;
}
ul.footerDetails li.phone:before {background-position: 0px 0px;}
ul.footerDetails li.mobile:before {background-position: 0px -28px;}
ul.footerDetails li.address:before {background-position: 0px -56px;}
ul.footerDetails li.email:before {background-position: 0px -84px;}
