/*
Theme Name: STLPAK - Global Packaging Solutions
Author: STLPAK
Author URI: https://stlpak.com/
Description: Custom child theme for STLPAK Global Packaging Solutions website. Based on Astra theme with custom styling and functionality.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child-stlpak
Template: astra
*/

/* Home CSS - Modular Entry Point */

/* Always load base home styles */
@import url('css/home-base.css');

/* Load medium complexity layouts */
@import url('css/home-medium.css');

/* Load complex layouts */
@import url('css/home-complex.css');

/* Load landing page styles */
@import url('css/home-landing.css');

/* Load special designs */
@import url('css/home-special.css');
