/*
Theme Name: STLPAK - Global Packaging Solutions
Author: STLPAK
Author URI: https://stlpak.com/
Description: Custom child theme for STLPAK Global Packaging Solutions website. Based on Astra theme with custom styling and functionality.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child-stlpak
Template: astra
*/



/* Home */
.h5section1 {
    position: relative;
    margin-top: -50px;
}
.h5featuredPointsBox {
	display: inline-block;
	padding: 140px 30px 20px;
	position: relative;
	max-width: 370px;
	min-height: 266px;
	box-shadow: 3px 3px 3px 1px rgb(0 0 0 / 10%);
}
.h5featuredPointsBox1 {background: #fca601;}
.h5featuredPointsBox2 {background: #91ad0e;}
.h5featuredPointsBox3 {background: #c94c0f;}
.h5featuredPointsBox:before {
	position: absolute;
	content: '';
	top: 25px;
	left: 50%;
	margin-left: -48px;
	width: 96px;
	height: 96px;
	background: url(/wp-content/uploads/2021/03/fs-sprite.png) #fff no-repeat;
	border-radius: 100%;
}
.h5featuredPointsBox1:before {background-position: 15px 21px;}
.h5featuredPointsBox2:before {background-position: 20px -53px;}
.h5featuredPointsBox3:before {background-position: 17px -123px;}
.h5featuredPointsTitle {
	font-size: 22px;
	font-weight: 600;
}
.h5circleList ul {
	padding: 0 ;
	margin: 0 ;
	list-style-type: none;
	position: relative;
}
.h5circleList ul li {
	font-size: 16px;
	line-height: 22px;
	padding-left: 20px;
	margin-bottom: 10px;
	color: #111111;
	font-weight: 600;
	position: relative;
}
.h5circleList ul li:before {
	position: absolute;
	content: '';
	top: 5px;
	left: 0;
	width: 10px;
	height: 10px;
	border: 1px solid #16529b;
	border-radius: 100%;
	background: transparent;
}
.h5videoBox {
	max-width: 550px;
	margin: 0 auto;
}
.h5videoBox a {
	display: block;
	position: relative;
}
.h5videoBox a:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	margin: -34px 0 0 -34px;
	width: 67px;
	height: 67px;
	background: url(/wp-content/uploads/2021/01/h3PlayIcon.png);
	transition: all 0.3s;
}
.h5videoBox a:hover:before {transform: scale(1.1);}
.h5productHeading h2 {
	display: inline-block;
    padding: 0 25px;
    z-index: 1;
    position: relative;
    background: #fff;
}
.h5productHeading {
	display: block;
	padding: 0 25px;
	background: #fff;
	position: relative;
}
.h5productHeading:before {
	position: absolute;
	content: '';
	top: 30%;
	left: 0;
	width: 100%;
	border: 1px solid #bababa;
}
.h5productBox {
	display: inline-block;
	max-width: 370px;
}
.h5productImgWrapper {
	padding: 6px;
	background: #fff;
	border: 1px solid #dddedf;
	cursor: pointer;
}
.h5productImg {position: relative;}
.h5productImg:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s;
}
.h5productImg:hover:before {background: rgba(0,0,0, 0.4);}
.h5productImg a{display: block;}
.h5productTitle a {
	font-size: 22px;
	color: #233645;
	font-weight: 600;
}
.h5tabSection, .h5section8 {
	border-top: 1px solid #bababa;
	box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 10%);
}
.h5TabsWrapper ul.tabs, .h5TabsWrapper ul.tabs2{
    margin: 0 0 30px ;
    padding: 0 ;
    list-style-type: none;
	border-bottom: 2px solid #bababa;
	text-align: left;
}
.h5TabsWrapper ul.tabs li, .h5TabsWrapper ul.tabs2 li {
    display: inline-block;
    padding: 0 0 8px;
	margin-right: 20px;
    color: #233645;
    font-size: 16px;
	font-weight: 600;
    transition: all .3s;
	cursor: pointer;
	position: relative;
}
.h5TabsWrapper ul.tabs li:before, .h5TabsWrapper ul.tabs2 li:before{
	position: absolute;
	content: '';
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	background: transparent;
}
.h5TabsWrapper ul.tabs li.current, .h5TabsWrapper ul.tabs2 li.current{color: #16529b;}
.h5TabsWrapper ul.tabs li.current:before, .h5TabsWrapper ul.tabs2 li.current:before{background: #16529b;}
.h5TabsWrapper ul.tabs li.current:after, .h5TabsWrapper ul.tabs2 li.current:after{
	position: absolute;
	content: '';
	bottom: -8px;
	left: 50%;
	margin-left: -6px;
	border-top: 6px solid #16529b;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}
.h5TabsWrapper .tab-content, .h5TabsWrapper .tab-content2{
    display: none;
	border: 1px solid #d6d6d6;
	border-radius: 10px;
	padding: 20px;
}
.h5TabsWrapper .tab-content.current, .h5TabsWrapper .tab-content2.current{display: block;}
.pd7Section6 .h5TabsWrapper .tab-content2{border-radius: 0;}
.h5whyusSection {
	padding-top: 190px;
	position: relative;
	background: #228dc3;
}
.h5whyusSection:before {
	position: absolute;
	content: '';
	top: -40px;
	left: 0;
	width: 1920px;
	height: 190px;
	background: url(/wp-content/uploads/2021/03/h5whyusShape.jpg);
}
.h5whyusBox {
	padding-left: 115px;
	position: relative;
	min-height: 90px;
}
.h5whyusBox:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 96px;
	height: 96px;
	border: 3px solid #228dc3;
	box-shadow: 0px 0px 3px #fff;
	background: url(/wp-content/uploads/2021/03/fs-sprite.png) #fff no-repeat;
	border-radius: 100%;
}
.h5whyusBox1:before {background-position: 13px -202px;}
.h5whyusBox2:before {background-position: 13px -282px;}
.h5whyusBox3:before {background-position: 14px -361px;}
.h5whyusBox4:before {background-position: 14px -445px;}
.h5whyusBox5:before {background-position: 14px -519px;}
.h5whyusBox6:before {background-position: 14px -590px;}
.h5QuoteBox {
	margin-bottom: 20px;
}
.h5QuoteText {
	font-size: 16px;
	line-height: 24px;
	position: relative;
	padding-bottom: 15px;
}
.h5QuoteName {
	font-size: 14px;
	color: #ff7b10;
}
.h5clientBox {
	display: inline-block;
	max-width: 270px;
}
.h5clientTitle {
	font-size: 22px;
	font-weight: 600;
	color: #112534;
}
.h5clientImg {
	padding: 6px;
	border: 2px solid #edeeee;
	border-radius: 2px;
}
.h5featuredProductBox {
	display: inline-block;
	padding: 6px;
	background: #fff;
	border: 2px solid #edeeee;
	border-radius: 2px;
	max-width: 370px;
}
.h5featuredProductTitle a {
	font-size: 22px;
	font-weight: 600;
	color: #233645;
}
.h5featuredProductText {color: #111;}
.h5featuredProductLink a {
	display: inline-block;
	font-size: 14px;
	padding-right: 15px;
	position: relative;
}
.h5featuredProductLink a:before {
    position: absolute;
    content: "\e900";
    top: 1px;
    right: 0;
    font-family: Astra;
    font-size: 12px;
    transform: rotate(270deg);
    font-weight: 600;
}
.h5processSection {counter-reset: step-counter;}
.h5processBox {
	display: inline-block;
	max-width: 270px;
	position: relative;
	counter-increment: step-counter;
}
.h5processBox:before {
	position: absolute;
	content: '';
	top: -20px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
	background: #16529b;
	border: 1px solid #fff;
	transform: rotate(45deg);
}
.h5processBox:after {
	position: absolute;
	content: counter(step-counter);
	top: -10px;
    left: 50%;
    margin-left: -6px;
	font-size: 22px;
	font-weight: 600;
	color: #fff;
}
.h5processImg {
	border-radius: 15px;
	overflow: hidden;
	border: 4px solid #e8e8e8;
	max-width: 200px;
	margin: 0 auto;
}
.h5processTitle {
	font-size: 22px;
	font-weight: 600;
	color: #112534;
}


/* Home 2 */
.h3CertificateWrapper {
	width: 100%;
	max-width: 730px;
	margin: -30px auto 0;
	padding: 13px 20px;
	box-shadow: 3px 3px 3px 3px rgba(0,0,0, 0.1);
	background: #fff;
	position: relative;
	z-index: 1;
}
.h3Certificates ul {
	padding: 0 ;
	margin: 0 ;
	list-style-type: none;
}
.h3Certificates ul li {
	display: inline-block;
	margin: 0 19px 0 0;
}
.h3CertificateTitle {
	font-size: 24px;
	font-weight: 700;
}
ul.h3Slider {
    margin: 0 auto ;
    padding: 0 ;
    list-style-type: none;
	position: relative;
	z-index: 1;
	max-width: 570px;
}
ul.h3Slider li.slick-slide {outline: none;}
ul.h3Slider ul.slick-dots {
    margin: 0 ;
    padding: 10px 0 0 ;
    list-style-type: none;
    text-align: center;
	background: #fff;
	line-height: 0px;
	display: inline-block;
	border-radius: 50px;
	background: #fff;
	min-width: 58px;
    bottom: 15px;
    left: 50%;
    margin-left: -29px ;
    position: absolute;
}
ul.h3Slider ul.slick-dots li {
    outline: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-indent: -999999px;
    width: 9px;
    height: 9px;
    background: transparent;
	border: 1px solid #16529b;
    border-radius: 100%;
    margin: 0 1px;
}
ul.h3Slider ul.slick-dots li.slick-active {
    background: #16529b;
}
.h3PageDetails ul {
	padding: 0 ;
	margin: 0 ;
	list-style-type: none;
	position: relative;
}
.h3PageDetails ul li {
	font-size: 17px;
	line-height: 22px;
	font-weight: 600;
	padding-left: 35px;
	margin-bottom: 15px;
	position: relative;
}
.h3PageDetails ul li:before {
	position: absolute;
	content: '';
	top: 3px;
	left: 0;
	width: 19px;
	height: 15px;
	background: url(/wp-content/uploads/2021/01/h3CheckIcon.png);
}
.h3Section1 {
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,.1);
}
.h3ProductBox {
	display: inline-block;
	max-width: 370px;
}
.h3ProductImg {
	border: 4px solid #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.1);
	overflow: hidden;
}
.h3ProductImg a {
	display: block;
	transition: 0.3s;
}
.h3ProductImg a:hover {transform: scale(1.1);}
.h3ProductTitle {padding: 40px 0 5px;}
.h3ProductTitle a {
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
}
.h3Section3 h2 span {
	font-size: 17px;
	color: #16529b;
	display: block;
}
.h3VideoBox {
	display: inline-block;
	border-radius: 100%;
	overflow: hidden;
}
.h3VideoBox a, .h3Sec9VideoImg a {
	display: block;
	position: relative;
}
.h3VideoBox a:before, .h3Sec9VideoImg a:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	margin: -34px 0 0 -34px;
	width: 67px;
	height: 67px;
	background: url(/wp-content/uploads/2021/01/h3PlayIcon.png);
	transition: all 0.3s;
}
.h3VideoBox a:hover:before, .h3Sec9VideoImg a:hover:before {transform: scale(1.1);}
.h3BorderSection {
	border-top: 2px solid #f2f2f2;
}
.h3Sec4Subheading {
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;
}
a.transparentBtn {
	background: transparent;
	border: 1px solid #16529b;
	color: #16529b;
}
a.transparentBtn:hover {color: #fff;}
.h3Section5VideoBox, .h3Sec8VideoBox {
	display: inline-block;
	max-width: 270px;
}
.h3Section5Img, .h3Sec8VideoImg {
	border: 4px solid #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.1);
	overflow: hidden;
}
.h3Section5Img a {
	display: block;
	transition: 0.3s;
}
.h3Section5Img a:hover {transform: scale(1.1);}
.h3Section5Title a {
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	color: #333;
}
.h3Section5Text .tableScroll {overflow-x: visible;}
.h3Section5Text table {
	margin: 10px 0 15px ;
	border: none;
}
.h3Section5Text table td, .h3Section5Text table th {
	border: none;
	padding: 0;
}
.h3Section5Text table th {
	width: 120px;
}
.h3FeaturedImg {
	max-width: 200px;
	float: left;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
}
.h3FeaturedContent {
	width: calc(100% - 200px);
	float: left;
	padding-left: 20px;
}
.h3FeaturedTitle {
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	color: #333;
	padding-bottom: 20px;
}
.h3Section7 {
	background: center 0 no-repeat;
	background-size: cover;
}
.h3Sec8VideoImg a {
	display: block;
	position: relative;
}
.h3Sec8VideoImg a:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	margin: -26px 0 0 -26px;
	width: 53px;
	height: 53px;
	background: url(/wp-content/uploads/2021/01/h3PlayIconSM.png);
	transition: all 0.3s;
}
.h3Sec8VideoImg a:hover:before {transform: scale(1.1);}
.h3Sec8VideoTitle {
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	color: #333;
}
.h3Sec9VideoBox {
	display: inline-block;
	max-width: 570px;
}
.h3Sec9VideoImg {
	padding: 4px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.1);
}
.h3Sec9VideoTitle {
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	color: #333;
}
.h3Sec9VideoImg a {
	display: block;
	transition: all 0.3s;
}
.h3ContactSection {
	background: url(/wp-content/uploads/2021/01/h3accordIcon.png) top 100px left 20px no-repeat;
}
.h3ContactSection {
    counter-reset: step-counter;
}
.h3ContactSection .accordionWraper .accordion, .h3ContactSection .accordionWraper .panel {
    color: #333;
    border: 1px solid #16529b;
	background: #fff;
}
.h3ContactSection .accordionWraper .accordion:before, .h3ContactSection .accordionWraper .accordion:after {
	color: #333;
}
