/*
Theme Name: STLPAK - Global Packaging Solutions
Author: STLPAK
Author URI: https://stlpak.com/
Description: Custom child theme for STLPAK Global Packaging Solutions website. Based on Astra theme with custom styling and functionality.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child-stlpak
Template: astra
*/

/* Supplemental Slick Dots Styles - For generic slick-dots usage */

/* Default slick-dots styles */
.slick-dots {
    margin: 20px 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.slick-dots li {
    outline: none;
    margin: 0 2px;
    padding: 0;
    display: inline-block;
    text-indent: -999999px;
    width: 10px;
    height: 10px;
    background: #d0d0d0;
    border-radius: 100%;
}

.slick-dots li.slick-active {
    background: #16529b;
}

.slick-dots li button {
    border: none;
    background: transparent;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* For home slider dots (backward compatibility) */
ul.homeSlider ul.slick-dots, ul.lp7s3Slider ul.slick-dots{
    margin: 17px 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

ul.homeSlider ul.slick-dots li, ul.lp7s3Slider ul.slick-dots li{
    outline: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-indent: -999999px;
    width: 10px;
    height: 10px;
    background: #d0d0d0;
    border-radius: 100%;
    margin: 0 2px;
}

ul.homeSlider ul.slick-dots li.slick-active, ul.lp7s3Slider ul.slick-dots li.slick-active {
    background: #16529b;
}