/* Utility Classes - Only essential styles */

/* Container with responsive widths */
.container{
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px
}

@media (min-width: 320px) and (max-width: 479px) {
	.container{width:320px}
	.cust-row{margin:0 -15px}
}
@media (min-width: 480px) and (max-width: 767px) {
	.container{width:480px}
	.cust-row{margin:0 -15px}
}
@media (min-width: 768px) {
	.container{width:750px}
}
@media (max-width: 991px) {
	.cust-row{margin:0 -15px ;}
}
@media (min-width: 992px) {
	.container{width:970px}
	.container770{width:770px}
}
@media (min-width: 1200px) and (max-width: 1399px) {
	.container{width:1170px}
}
@media (min-width: 1400px) {
	.container{width:1320px}
}

/* Text Alignment */
.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}
.text-justify{text-align:justify}

/* Clearfix */
.clearfix{clear:both}

/* Row utility - used in many templates */
.cust-row{
	margin:0 -30px ;
}

/* Common padding classes */
.paddTop5{padding-top:5px}
.paddBottom5{padding-bottom:5px}
.paddTop10{padding-top:10px}
.paddBottom10{padding-bottom:10px}
.paddTop15{padding-top:15px}
.paddBottom15{padding-bottom:15px}
.paddTop20{padding-top:20px}
.paddBottom20{padding-bottom:20px}
.paddTop25{padding-top:25px}
.paddBottom25{padding-bottom:25px}
.paddTop30{padding-top:30px}
.paddBottom30{padding-bottom:30px}
.paddTop35{padding-top:35px}
.paddBottom35{padding-bottom:35px}
.paddTop40{padding-top:40px}
.paddBottom40{padding-bottom:40px}
.paddTop45{padding-top:45px}
.paddBottom45{padding-bottom:45px}
.paddTop50{padding-top:50px}
.paddBottom50{padding-bottom:50px}
.paddTop70{padding-top:70px}
.paddBottom70{padding-bottom:70px}

/* RowFlex utilities */
.rowFlex{
	display: flex;
	align-items: center;
}
.rowFlexEnd{
	display: flex;
	align-items: end;
}

/* Hidden utility */
.hidden{display: none;}

/* Basic transitions */
a, button, input[type="submit"]{transition:all .3s}

/* Remove outline from form elements */
input, textarea, button, select{outline:none}